<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-12 px-5 px-sm-0 mx-auto">
      <h2 class="border-bottom">お問い合わせ一覧</h2>
      <%= form_with url: admin_path, method: :get, class: "form-inline mb-3", local: true do |f| %>
        <div class="form-group mr-3">
          <%= f.label :company_search_type, "会社名検索タイプ", class: "mr-2" %>
          <%= f.select :company_search_type, options_for_select([['完全一致', 'eq'], ['部分一致', 'cont'], ['前方一致', 'start'], ['後方一致', 'end']], params[:company_search_type]), {}, class: "form-control" %>
        </div>
        <div class="form-group mr-3">
          <%= f.label :company_value, "会社名", class: "mr-2" %>
          <%= f.text_field :company_value, value: params[:company_value], class: "form-control" %>
        </div>
        <div class="form-group mr-3">
          <%= f.label :name_search_type, "名前検索タイプ", class: "mr-2" %>
          <%= f.select :name_search_type, options_for_select([['完全一致', 'eq'], ['部分一致', 'cont'], ['前方一致', 'start'], ['後方一致', 'end']], params[:name_search_type]), {}, class: "form-control" %>
        </div>
        <div class="form-group mr-3">
          <%= f.label :name_value, "名前", class: "mr-2" %>
          <%= f.text_field :name_value, value: params[:name_value], class: "form-control" %>
        </div>
        <%= f.submit '検索', class: "btn btn-primary" %>
      <% end %>
      <% if @inquiries.present? %>
        <table class="table table-striped table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th><%= sortable "created_at", "お問い合わせ日時", params %></th>
              <th><%= sortable "company", "会社名", params %></th>
              <th><%= sortable "name", "お名前", params %></th>
              <th><%= sortable "email", "メールアドレス", params %></th>
              <th><%= sortable "is_deleted", "削除状況", params %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @inquiries.each do |inquiry| %>
              <tr>
                <td>
                  <%= link_to admin_inquiry_path(inquiry) do %>
                    <%= inquiry.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                  <% end %>
                </td>
                <td><%= inquiry.company %></td>
                <td><%= inquiry.name %></td>
                <td><%= inquiry.email %></td>
                <td>
                  <% if inquiry.is_deleted %>
                    削除済み
                  <% else %>
                    削除していない
                  <% end %>
                </td>
                <td><%= link_to "編集", edit_admin_inquiry_path(inquiry), class: "btn btn-primary" %></td>
                <td><%= link_to "削除", admin_destroy_inquiry_path(inquiry), method: :patch, data: { confirm: "お問い合わせを削除してもよろしいですか？" }, class: "btn btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @inquiries, theme: 'twitter-bootstrap-4' %>
      <% else %>
        <p>お問い合わせ情報がありません</p>
      <% end %>
    </div>
  </div>
</div>